<!-- PRODUCTS PAGE
display: products -->

<h1>Products List</h1>
<ul>
<% @products.each do |product| %>
	<li><%=link_to product.name, product_path(product.id) %> -- <%= product.description %> </li> <br>
<% end %>
</ul>