<!-- SHOW PRODUCT PAGE
displays: one product with it's categories -->

<h1><%= @product.name %></h1>

<p>Description: <%= @product.description %></p>
<p>Categories:</p>
<ul>
<% @categories.each do |category| %>
	<li><%= link_to category.name, category_path(category.id) %> </li>
<% end %>
</ul>