<!-- HOMEPAGE
displays
     links to product views
     links to category views -->

<h1>Welcome to the store administrative interface!</h1>
<h4>Please make a selection:</h4>
<h5> 1) <%= link_to "View Products", products_path %></h5>
<h5> 2) <%= link_to "View Categories", categories_path %></h5>
<h5> 3) <%= link_to "Add New Product", new_product_path %></h5>
<h5> 4) <%= link_to "Add New Category", new_category_path %></h5>